@import "tailwindcss";

@layer base {
  html {
    font-family: theme("fontFamily.sans");
    line-height: 1.5;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: rgba(255, 255, 255, 0.87);
    background-color: #808080;
    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
}
